/* header */
h1 {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
}

/* main */
.content {
    display: flex;
}

/* sidebar search/history */
form {
    justify-content: left;
    margin-right: 80%;
}

form.button {
    flex-direction: column;
}

.history {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-right: 80%;
    margin-top: 1rem;
}

button {
    margin: .2rem;
}

/* current/forecast weather */
.cWeather,
.fWeather {
    display: inline-flex;
    justify-content: right;
    margin-left: 21%;
}